<head>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap&family=Lato:ital,wght@0,300;0,400;1,300&display=swap&family=Fira+Code:wght@300;400;500');
           
           .foglio-a4{
                font-family: 'Arial';
                 width: 21cm;
                 height:29cm;
                 margin: 0mm auto;
                 background-color:#494948 ;
                 font-family:'Fira Code';
                 font-weight:400;
               border: 1px solid #ccc;
               width:100%;
               
               background-color:#fff
           }
           .header{
               display: -webkit-box;
               display:flex;

           }
           .header img{
              padding:10mm
           }
           .intestazione{
               color:#009656;
               padding-left:5mm;
               font-size:12px;
               margin:10mm 0;
               font-family: 'Lato';             
           }
           .red{
               color:#e30614;
               font-weight:bold;
           }
           .barcode{
                   font-family: 'Libre Barcode 39';
                    font-size: 37px;
                    margin-top: 15px;
                    display: block;
              
           }
           .intestazione2{
               display:flex;
           }
           .intestazione2 .destinatario, .intestazione2 .mittente{
               padding:10mm;
               padding-top:0;
               flex:1;
               justify-content: flex-start;
               font-size:14px;
               

               
           }
           .intestazione2 .destinatario small, .intestazione2 .mittente small{
               display:block;
               font-size:10px;
               margin-left:-5mm;
               font-weight:600;
               font-family:'Arial';
               margin-bottom:1mm;
           }

           .intestazione3{
               border:1px solid #666;
               margin:0 5mm;
               padding:3mm 2mm
           }
           .intestazione4{
               border:1px solid #666;
               border-top:none;
               margin:0 5mm;
               display:flex; 
           }
           .intestazione4 small{
            font-size:8px;
            font-family:'Arial';
            font-weight:600;
           }
           .intestazione4 div{
               border-right:1px solid #666;
               padding:3mm 2mm;
               text-align:left
           }
           .intestazione4 .estremi{
               width:40mm;
           }
           .intestazione4 .codcliente{
               width:20mm;
           }
           .intestazione4 .codfisc{
               width:50mm;
           }
           .intestazione4 .piva{
               width:30mm;
           }
           .intestazione4 .pag{
               width:10mm;
           }
           .intestazione4 .data{
              border-right:none;
              flex:1;
           }

           .intestazione5{
              border:1px solid #666;
               border-top:none;
               margin:0 5mm;
               display:flex; 
           }
           .intestazione5 div{
               border-right:1px solid #666;
               padding:3mm 0;
               text-align:center;
               font-family:'Arial';
               box-sizing: border-box;
           }
           .intestazione5.noborder{
               border-bottom:none;
           }
            .intestazione5 strong{
                font-size:10px;
                font-weight:600;
                line-height:16px
            }
           .intestazione5 .aic{
               width:25mm;
                font-size:12px;
           }
           .intestazione5 .aic strong{
               font-size:12px
           }
           .intestazione5 .descrizione{
               width:100mm;
               font-size:12px;
           }
           .intestazione5 .um{
               width:10mm;
                font-size:12px;
           }
           .intestazione5 .quantita{
               width:20mm;
                font-size:12px;
           }
           .intestazione5 .vuoti{
               width:20mm;
                font-size:12px;
               
           }
           .intestazione5 .vuoti strong{
               font-size:9px;
           }
           .intestazione5 .lotto{
               flex:1;
                font-size:12px;
               border-right:none;
           }
           .wrapper{
             display: flex;
             flex-direction: column;
             height: 160mm;
           }
           .intestazione5.last{
               flex:1
           }

        </style>
    </head>
    <body>
        <div class="foglio-a4">  
            <div class="header">
                <img src="https://www.tergas.it/k-content/tergas/themes/tergas/html/img/logo.gif">
                <div class="intestazione">
                    <span class="red">TERGAS s.r.l.</span> 30020 Noventa di Piave (VE) - Via A.Meucci, 1/A<br>
                    Tel. 0421.658878 - Fax 0421.308287 - Cap. soc. € 100.000,00 i.v.<br>
                    info @tergas.it - Iscr. Reg. Impr. di VE / Cod. Fisc. E P.IVA:02243850274 - REA VE 204767<br>
                    <span class="red">FILIALE:TERGAS s.r.l.</span> 33100 UDINE - Viale Palmanova 464/5 - udine@tergas.it - Tel. 0432.611342 
                </div>
            </div>
            <div class="intestazione2">
                <div class="destinatario">
                    <small>LUOGO DI DESTINAZIONE</small>
                    NOME COGNOME<br>
                    VIA NOMEVIA NUM/INT<br>
                    TELEFONO-CELLULARE    
                </div>
                <div class="mittente">
                    <small>SPETT.</small>
                    FARM. NOMEFARM<br>
                    DI NOME PROPRIETARIO<br>
                    VIA DELLA FARMACIA, NUM<br>
                    CAP CITTA' FARM PROV
                </div>
            </div>
            
            <div class="intestazione3">
                <div class="titolo">
                    <strong>LETTERA DI CONSEGNA</strong>
                </div>
            </div>
            
            <div class="intestazione4">
                <div class="estremi">
                    <small>ESTREMI ORDINE</small>
                    123456789
                </div>
                <div class="codcliente">
                    <small>COD.CLIENTE</small>
                    12345
                </div>
                <div class="codfisc">
                    <small>CODICE FISCALE</small>
                    MSCFPP77H04H823T
                </div>
                <div class="piva">
                    <small>PARTITA IVA</small>
                    02243850274
                </div>
                <div class="pag">
                    <small>N.PAG</small>
                    1
                </div>
                <div class="data">
                    <small>DATA DOCUMENTO</small>
                    01.12.2021
                </div>
            </div>
            
            <div class="intestazione5">
                <div class="aic"><strong> CODICE AIC </strong></div>
                <div class="descrizione"><strong> DESCRIZIONE </strong></div>
                <div class="um"><strong> U.M </strong></div>
                <div class="quantita"><strong> QUANTITA' </strong></div>
                <div class="vuoti"><strong> Recipienti vuoti </strong></div>
                <div class="lotto"><strong> LOTTO </strong></div>
            </div>
            <div class="wrapper">
                <div class="intestazione5 noborder">
                    <div class="aic"> 123456789 </div>
                    <div class="descrizione"> UN1072 2.2 (5.1) OSSIG. LT. 30 (SICO MEDIC. GASS. LT. 6600) 
                        <span class="barcode">*123456789*</span>
                    </div>
                    <div class="um"> NR </div>
                    <div class="quantita"> 1,00 </div>
                    <div class="vuoti"> 1,00 </div>
                    <div class="lotto">  </div>
                </div>
                <div class="intestazione5 noborder">
                    <div class="aic"> 123456789 </div>
                    <div class="descrizione"> UN1072 2.2 (5.1) OSSIG. LT. 30 (SICO MEDIC. GASS. LT. 6600)
                        <span class="barcode">*123456789*</span>    
                    </div>
                    <div class="um"> NR </div>
                    <div class="quantita"> 1,00 </div>
                    <div class="vuoti"> 1,00 </div>
                    <div class="lotto">  </div>
                </div>
                <div class="intestazione5 noborder">
                    <div class="aic"> 123456789 </div>
                    <div class="descrizione"> UN1072 2.2 (5.1) OSSIG. LT. 30 (SICO MEDIC. GASS. LT. 6600) 
                        <span class="barcode">*123456789*</span>
                    </div>
                    <div class="um"> NR </div>
                    <div class="quantita"> 1,00 </div>
                    <div class="vuoti"> 1,00 </div>
                    <div class="lotto">  </div>
                </div>
                <div class="intestazione5 last">
                    <div class="aic">  </div>
                    <div class="descrizione"> </div>
                    <div class="um">  </div>
                    <div class="quantita"></div>
                    <div class="vuoti">  </div>
                    <div class="lotto">  </div>
                </div>
            </div>
        </div>
        
    </body>
</head>